* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: dark;
  --page-background: #15202B;
  --primary-color: #101743;
  --secondary-color: #c5c5c4;
  --third-color: #252525;
  --fourth-color: #000435;
  --danger-color: #E53935;
  --success-color: #4BB543;
  --lighter-background: #FF7043;
  --warning-color: #ffcc00;
  --pending-color: #F29339;
  --link-color: #0000EE;
  --max-login-width: 1100px;
  --max-page-width: 1200px;
  --light-gray-background: #F5F5F5;
  --dark-theme-background: #15202B; /* #121418; */ /* #1e1e1e; */
  --navigation-bar-color: #191B1F;
  --card-color: #191B1F;
  --code-editor-background: #1E1E1E;
  --dark-mode-bg-alt: #262624;
}

body {
  font-family: 'Poppins', 'Segoe UI', sans-serif;
  background-color: var(--page-background);
}